@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap');

body {
  font-family: "Noto Sans JP", メイリオ, Meiryo, Hiragino Kaku Gothic ProN,
    ヒラギノ角ゴ ProN W3, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif !important;
  background: #F8F9FA;
  margin: 0;
  padding: 0;
}
