table {
  background-color: #fff;
  display: table;
  border: solid 1px #777;
  border-collapse: collapse;
}

table th {
  border-bottom: solid 2px black;
}

th,
td {
  padding: 16px;
  word-break: break-all;
}
