table {
  background-color: #fff;
  min-width: 650px;
  display: table;
  border: solid 1px #e5e5e5;
  border-collapse: collapse;
}

table th {
  border-bottom: solid 2px black;
}

th,
td {
  padding: 16px;
}
